<% content_for :meta_title, "#{@article.title} / #{DEFAULT_META["meta_product_name"]}" %>

<div class="navbar-wagon navbar-wagon-fixed collapse navbar-collapse hidden-xs">

  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo-picto.png" %>
  <% end %>

  <div class="navbar-center hidden-xs">
    <div>
      <%= link_to root_path, class: "navbar-wagon-brand-menu" do %>
      <%= image_tag "logo-picto.png" %>
      <% end %>
    </div>
    <div>
      <a href="/" id="btn-navbar-actu">ACCUEIL</a>
    </div>
    <div>
      <a href="/articles" id="btn-navbar-actu">BLOG</a>
    </div>
    <div>
      <a href="/#contact" id="btn-navbar-actu">CONTACT</a>
    </div>
    <div class="contact-navbar">
      <div class="contact-content">
        <p><span style="letter-spacing: 3.5px;">Tel</span> : <span style="letter-spacing: 3.3px;">01 42 18 18 19</span></p>
        <p><span style="letter-spacing: 2.5px;">Fax</span> : <span style="letter-spacing: 3.3px;">01 77 75 91 91</span></p>
        <p>contact@cw-avocats.com</p>
      </div>
    </div>
  </div>
</div>


<div class="wrapper article-show" style="background-image: url('<%= cl_image_path("actualites_pcaclw.png") %>');">
  <div class="container">
    <div class="article-title">
      <h3 class="text-center"><%= @article.title.upcase.tr('æ-ý','Æ-Ý') %></h3>
    </div>
    <div class="article-content">
      <p><strong><%= @article.description %></strong></p>
      <%= @article.content.html_safe %>
      <div class="option-article">
      </div>
    </div>
      <div class="article-path">
        <%= link_to @articles.previous(@article) do %>
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
        <% end %>
        <%= link_to @articles.next(@article) do %>
        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        <% end %>
      </div>
    <div class="article-menu">
      <a href="/"><p><i class="fa fa-home" aria-hidden="true"></i> - <strong>Accueil</strong></p></a>
      <a href="/articles"><p><i class="fa fa-quote-right" aria-hidden="true"></i> - <strong>Blog</strong></p></a>
      <a href="/contacts"><p><i class="fa fa-envelope-open" aria-hidden="true"></i> - <strong>Contact</strong></p></a>
    </div>
  </div>
</div>
