<div class="wrapper wrapper-contact" id="contacts" style="background-image: url('<%= cl_image_path("img-contact_npehc9.png") %>');">
<div class="contact" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card-contact">
          <h2><%= I18n.t('.title3') %></h2>
            <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
              <%= f.input :nom, :required => true, :placeholder=> I18n.t('.form1'), :error_html => { :id => "name_error"} %>
              <%= f.input :email, :required => true, :placeholder=> I18n.t('.form2'), :error_html => { :id => "name_error"} %>
              <%= f.input :sujet, :required => true, :placeholder=> I18n.t('.form3'), :error_html => { :id => "name_error"}%>
              <div class="textarea text-center">
                <%= f.text_area(:message, placeholder: I18n.t('.form4'))%>
              </div>
              <div class= "hidden">
                <%= f.input :nickname, :hint => 'Leave this field blank!' %>
              </div>
              <div class="btn-form text-center">
                <%= f.button :submit, "", :value => I18n.t('.form5'), :class => "btn-details"%>
              </div>
            <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-contact">
          <h5 class="text-center" style=" padding-top: 67px; padding-bottom: 20px"><span style="font-weight: 700;">49 rue Saint-Roch<br>75001 Paris</h5>
          <h5>
          <strong>Tel</strong> : <span style="font-family: 'Roboto', sans-serif;">01 42 18 18 19</span> <br>
          <strong>Fax</strong> : <span style="font-family: 'Roboto', sans-serif;">01 77 75 91 91</span> <br>
          <strong>Email</strong> : contact@cw-avocats.com <br> <strong>Toque</strong> : <span style="font-family: 'Roboto', sans-serif;">A431</span></h5>
          <iframe src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=49%20rue%20Saint-Roch%2075001%20Paris+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
