<div class="wrapper wrapper-contact" id="contacts" style="background-image: url('<%= cl_image_path("img-contact_npehc9.png") %>');">
<div class="contact" id="contact">
  <div class="container">
    <div class="card-contact">
      <div class="row">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6 contact-form">
          <h2><%= I18n.t('.title3') %></h2>
          <div class="">
            <h5 class="text-center" style=" padding-top: 24px"><span style="font-weight: 700;"><em>Chavanne & Witt Avocats</em></span><br>49 rue Saint-Roch, 75001 Paris</h5>
            <h5><strong>Tel</strong> : 01 42 18 18 19 <strong>- Fax</strong> : 01 77 75 91 91<br>
            <strong>Email</strong> : contact@cw-avocats.com <br> <strong>Toque</strong> : A431</h5>
            <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
              <%= f.input :nom, :required => true, :placeholder=> I18n.t('.form1'), :error_html => { :id => "name_error"} %>
              <%= f.input :email, :required => true, :placeholder=> I18n.t('.form2'), :error_html => { :id => "name_error"} %>
              <%= f.input :sujet, :required => true, :placeholder=> I18n.t('.form3'), :error_html => { :id => "name_error"}%>
              <div class="textarea text-center">
                <%= f.text_area(:message, placeholder: I18n.t('.form4'))%>
              </div>
              <div class= "hidden">
                <%= f.input :nickname, :hint => 'Leave this field blank!' %>
              </div>
              <div class="btn-form text-center">
                <%= f.button :submit, "", :value => I18n.t('.form5'), :class => "btn-details"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="avatar avatar-contact" style="margin-bottom: 0px">
  <%= image_tag "clem-mat-mobile.png" %>
</div>
