<div class="montserrat-light text-justify lg:text-sm xl:text-base px-12 md:px-24 lg:px-32 py-12 col-span-12 md:col-span-12 lg:col-span-8">
  <h4 class="niramit-semibold text-3xl uppercase"><%= value[:name] %></h4>
  <p><%= locale_content_for("descriptions.#{key}") %></p>

  <p style="text-align: center; color: #2580c6; margin-top: 20px;">
    <%= locale_content_for("skills.#{key}") %>
  </p>

  <%= link_to "Actualités et publications", articles_path(editor: value[:name]), class: "btn-articles"  %>

  <div class="text-center">
    <% if value[:email].present? %>
      <a type="button" data-container="body" data-toggle="popover" data-placement="top" data-content="<a href='mailto:<%= value[:email] %>' title='test add link'><%= value[:email] %></a>"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
    <% end %>

    <% if value[:linkedin].present? %>
      <a href="<%= value[:linkedin] %>" cursor="pointer" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
    <% end %>
  </div>
</div>