<section class="wrapper background-presentation" id="presentation">
  <div class="row">
    <div class="col-sm-7 col-lg-8 presentation-description">
      <div class="content-description">
        <h1 class="text-center"><%= I18n.t('.title1') %></h1>

        <p>
          <%= I18n.t('.presentation1') %>
          <strong><%= I18n.t('.presentation2') %></strong>
          <%= I18n.t('.presentation3') %><br><br>
          <%= I18n.t('.presentation4') %><br><br>
          <%= I18n.t('.presentation5') %>
          <strong><%= I18n.t('.presentation6') %></strong>
          <%= I18n.t('.presentation7') %>
        </p>
      </div>
    </div>
  </div>
</section>
