
<div class="wrapper background-presentation" id="presentation">
  <div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-7">
      <div class="content-description">
        <h2 class="text-center"><%= I18n.t('.title1') %></h2>
        <p><%= I18n.t('.presentation1') %>
        <strong><%= I18n.t('.presentation2') %></strong>
        <%= I18n.t('.presentation3') %><br><br>
        <%= I18n.t('.presentation4') %><br><br>
        <%= I18n.t('.presentation5') %>
        <strong><%= I18n.t('.presentation6') %></strong>
        <%= I18n.t('.presentation7') %>
        </p>
      </div>
    </div>
  </div>
</div>
