<div class="wrapper background-team-clem" id="avocats">
  <div class="row">
    <div class="col-md-7">
      <div class="team-description">
      <div class="avatar">
        <%= image_tag "avatar-clem.png" %>
      </div>
        <h4>Clémence Witt</h4>
        <p>
          <%= I18n.t('.team-clem1') %>
        <br><br>
          <%= I18n.t('.team-clem2') %>
        <br><br>
          <%= I18n.t('.team-clem3') %>
        <br><br>
          <%= I18n.t('.team-clem4') %>
        </p>
        <p style="text-align: center; color: #2580c6; margin-top: 20px;"><%= I18n.t('.competences-clem1') %><br><%= I18n.t('.competences-clem2') %><br></p>
        <div class="text-center">
          <a type="button" data-container="body" data-toggle="popover" data-placement="top" data-content="<a href='mailto:witt@cw-avocats.com' title='test add link'>witt@cw-avocats.com</a>"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
          <a type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-content="+33.6.66.88.87.95"><i class="fa fa-phone-square" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/clémence-witt-a38578153/" cursor="pointer" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
    </div>
  </div>
</div>

<div class="wrapper background-team-mat">
  <div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-7 presentation-description">
      <div class="team-description">
      <div class="avatar">
        <%= image_tag "avatar-mat.png" %>
      </div>
        <h4>Matthieu Chavanne</h4>
        <p>
          <%= I18n.t('.team-mat1') %>
        <br><br>
          <%= I18n.t('.team-mat2') %>
        <br><br>
          <%= I18n.t('.team-mat3') %>
        </p>
        <p style="text-align: center; color: #2580c6; margin-top: 20px;"><%= I18n.t('.competences-mat1') %><br><%= I18n.t('.competences-mat2') %></p>
        <div class="text-center">
          <a type="button" data-container="body" data-toggle="popover" data-placement="top" data-content="<a href='mailto:chavanne@cw-avocats.com' title='test add link'>chavanne@cw-avocats.com</a>"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
          <a type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-content="+33.6.59.96.73.48"><i class="fa fa-phone-square" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/matthieu-chavanne-b5693534/?ppe=1" cursor="pointer" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="wrapper">
  <div class="container collab text-center">
    <h4>Camille Tardé</h4>
    <div class="row clemence-row">
      <div class="col-md-6 col-xs-12">
        <div id="demo">
          <p><%= I18n.t('.team-cam1') %></p>
          <p style="text-align: center; color: #2580c6; margin-top: 20px;"><%= I18n.t('.competences-cam1') %><br><%= I18n.t('.competences-cam2') %></p>
          <div class="text-center">
            <a href="https://www.linkedin.com/in/camille-tard%C3%A9-4a63068b/" cursor="pointer" target="_blank" style="margin: 5px; color: #162139"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 avatar-clemence">
        <%= image_tag "avatar-clemence.png" %>
      </div>
    </div>
  </div>
</div>

