<section>
  <% I18n.t("team").each.with_index do |(key, value), index| %>
    <figure class="wrapper background-team-<%= value[:class] %>" id="avocats">
      <div class="row">
        <% if index.even? %>
          <div class="col-sm-4 col-lg-3"></div>
        <% end %>

        <div class="col-sm-8 col-lg-9">
          <div class="team-description">
            <div class="avatar avatar-avocat">
              <%= image_tag "#{value[:class]}-mobile.jpg" %>
            </div>

            <div class="team-description-mobile">
              <h4><%= value[:name] %></h4>
              <p><%= locale_content_for("descriptions.#{key}") %></p>

              <p style="text-align: center; color: #2580c6; margin-top: 20px;">
                <%= locale_content_for("skills.#{key}") %>
              </p>

              <%= link_to "Actualités et publications", articles_path(editor: value[:name]), class: "btn-articles"  %>
              <div class="text-center">
                <% if value[:email].present? %>
                  <a type="button" data-container="body" data-toggle="popover" data-placement="top" data-content="<a href='mailto:<%= value[:email] %>' title='test add link'><%= value[:email] %></a>"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                <% end %>

                <% if value[:linkedin].present? %>
                  <a href="<%= value[:linkedin] %>" cursor="pointer" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </figure>
  <% end %>
</section> 
