<% content_for :meta_title, "Chavanne & Witt Avocats" %>
<% content_for :meta_description, "Secrétaires de la Conférence en 2015, Clémence Witt et Matthieu Chavanne ont décidé de créer le cabinet Chavanne & Witt Avocats en septembre 2017." %>

<%= render 'shared/navbar' %>
<%= render 'pages/banner' %>

<main>
  <%= render 'pages/presentation' %>
  <%= render 'pages/team' %>
  <%= render 'pages/actualites' %>
  <%#= render 'pages/partenaires' %>
  <%= render 'pages/contact' %>
</main>

<%= render 'pages/footer' %>