            <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
              <%= f.input :nom, :required => true, :placeholder=> "Votre nom" %>
              <%= f.input :email, :required => true, :placeholder=> "Votre email" %>
              <%= f.input :sujet, :required => true, :placeholder=> "Sujet"%>
              <div class="textarea text-center">
                <%= f.input :message %>
              </div>
              <div class="btn-form text-center">
                <%= f.button :submit, 'Envoyer', :class => "btn-details"%>
              </div>
            <% end %>
